
body {
    padding-top: 54px;
  }
  
  header .welcome {
    margin-top: 3em;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }
  
  /*!
   * Copyright 2018 Trilogy Education
   */